
@media (orientation: landscape){
    .wrapper_printPage {
        position: absolute;
        top: 0;
        padding: 1rem;
        height: 90vh;
        width: 70vh;
        background: white;
        color: black;

    }

    .wrapper_bts {
        position: absolute;
        top: 0;
        right: 4rem;
    }
    .wrapper_bts_printItems{

    }
    .wrapper_bts_printItems>input{
        width: 2rem;
    }

}

@media (orientation: portrait){
    .wrapper_printPage {
        position: absolute;
        padding-top: 2rem;
        top: 0;
        height: 90%;
        width: 100%;
        background: white;
        color: black;
        overflow: hidden;

    }

    .wrapper_bts {

    }
    .wrapper_bts_printItems{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;

        border-top: solid 1px black;
    }
    .wrapper_bts_printItems>input{
        width: 2rem;
    }

}

.wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 600;

}



.bt_hide{
    display: none;
}
.bt_show{

}