.wrapper{
    width: 100%;
    height: 100%;
    background: lightgreen;
}
.wrapper_selectedStoreAngNomenclature{
    height: 3rem;
    background: lightgrey;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: left;
    align-items: self-start;
    flex-direction: column;
}
.wrapper_selectStoreAngNomenclature{
  display: flex;
    flex-direction: row;
}
.wrapper_selectStoreAngNomenclature>div{
    width: 40%;
}
.wrapper_newAssets>div{
    padding: 1rem;
    margin: 1rem;
}
.wrapper_makeAsset{

}
