@media (orientation: portrait) {
    .wrapper_fieldsWrapper>button{
        width: 100%;
        height: 2rem;
        background: #55ff55;

    }
    .wrapper_BarcodeScanner{
         position: absolute;
         top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .bt_activate_barScanner{
         width: 40%;
         height: 100%;
        border: solid 1px red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (orientation: landscape) {
    .wrapper_BarcodeScanner{
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
    }
}
.wrapper {
    width: 100%;
    height: 100%;
    background: white;
}

.wrapper_fieldsWrapper {
    height: auto;
    background: lightgrey;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: left;
    align-items: self-start;
    flex-direction: column;
}

.wrapper_fieldsWrapper_field {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px white;;
}

.wrapper_fieldsWrapper_field_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;

}

.wrapper_fieldsWrapper_field_item {
    width: 70%;
    border-left: solid 1px white;
}
.wrapper_fieldsWrapper_field_item>input{
    width: 100%;
}
.wrapper_fieldsWrapper_setSerial{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.wrapper_selectStoreAngNomenclature_itemName {
    width: 100%;
    height: 1rem;
    background: grey;
    color: white;
}

.wrapper_selectStoreAngNomenclature {
    display: flex;
    flex-direction: column;
}

.wrapper_selectStoreAngNomenclature > div {
    width: 100%;
}

.wrapper_newAssets {

    padding: 1rem;
    margin: 1rem;
    width: 100vh;
    height: 50vh;
    background: lightgrey;
    overflow-y: scroll;


}

.wrapper_newAssets_qrCode {
    margin: 0.2rem;
    width: 8rem;
    height: 10rem;
    border: solid 1px red;
    float: left;
}

.wrapper_makeAsset {

}
