.wrapper{
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 100%;
    background: #123;
}
.fieldWrapper {
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: black;
    outline: solid 1px red;
}

.fieldWrapper > span {
    width: 20%;
    color: white;
    text-align: right;

}

.fieldWrapper > textarea {
    resize: none;
    width: 80%;
    height: 2rem;
    margin-left: 1rem;

}



.fieldWrapper > input {
    width: 8rem;
    margin-left: 1rem;
}
.fieldWrapper > select {
    width: 18rem;
    margin-left: 1rem;
}