@media (orientation: landscape) {

    .wrapper_n {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .wrapper_name {
        width: 50%;
        height: 100%;
        border-left: solid 1px grey;
        padding-left: 1rem;
        display: flex;

        text-align: left;
    }

    .wrapper_time {
        width: 35%;
        height: 100%;
        border-left: solid 1px grey;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .wrapper_printing {
        width: 15%;
        border-left: solid 1px grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (orientation: portrait) {

    .wrapper_n {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .wrapper_name {
        width: 60%;
        height: 100%;
        border-left: solid 1px grey;
        padding-left: 1rem;
        display: flex;

        text-align: left;
    }

    .wrapper_time {
        width: 30%;
        height: 100%;
        border-left: solid 1px grey;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .wrapper_printing {
        width: 0;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper {
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px grey;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.wrapper_nMod2 {
    background: #eee;
}