
.wrapper__name_table {
padding-left: 1rem;
}
.wrapper___catalog_name{
    font-size: 1rem;
    padding: 4px 1px 4px 0;
    background: teal;
    color: wheat;
    cursor: pointer;
    width: 20rem;
    border: solid 1px black;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrapper___catalog_name_onDragEnter{
    background: lightseagreen;
}
.wrapper___catalog_name>span{
    width: 15rem;
    text-align: left;
   color: white;
}

.wrapper__name_end_point {
    text-align: left;
    padding: 1px 1rem 1px 1rem;
    font-size: 0.8rem;
    font-style: italic;
    background: #fff;
    cursor: pointer;
    width: auto;
    border: solid 1px black;
}


.wrapper__catalog_hidden {
    display: none;

}


.wrapper_showCatalog{
    width: 1rem;
    height: 1rem;
    background: grey;
    border: solid 1px black;
    cursor: pointer;
}
.wrapper_showCatalog:hover{
    background: lightgrey;
}
