.wrapper{
    margin: 0;
    padding: 0;
    width: 8rem;
    height: 10rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: solid 1px black;
    float: left;

}
.wrapper_qrcode{
    width: 7rem;
    height: 7rem;


}
.wrapper_assetName{
    font-size: 50%;
    width: 100%;
    color: black;
}