.wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}
.wrapper_qrcode{
    padding: 1rem;
    margin-bottom: 5vh;
    width: 60vh;
    height: 60vh;
    border: solid 4px black;
}
.wrapper_assetName{
    font-size: 2rem;
    width: 60vh;
    color: black;
}