.wrapper {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    max-height: 50%;
    overflow:scroll;

    border: solid 1px black;

}
.wrapper__self_name{
    display: flex;
    flex-direction: row;
    background: teal;
    width: 80%;
    color: #fff;
    font-size: 1.2rem;
    font-style: inherit;
    text-align: left;
    align-items: center;
    justify-content: flex-start;

}

.wrapper__self_name_bt{
    padding-right: 1rem;

    font-size: 1.5rem;
}
.wrapper__items{
    display: flex;
    flex-direction: column;

}
.wrapper__catalog{
    width: 100%;
    padding: 2px 0 2px 1rem;
    border-bottom: solid 1px grey;
    text-align: left;
    color: black;
    background: #ccc;
    cursor: pointer;
}
.wrapper__catalog_drag_enter{

    color: #ccc;
    background: #aaa;
    cursor: pointer;
}
.wrapper__catalog__item{
    width: 95%;
    height: auto;
    padding: 2px 0 2px 2rem;
    border-bottom: solid 1px grey;
    text-align: left;
    background: #eee;
    cursor: pointer;
}
.wrapper__catalog__item>span{
    width: 95%;
    cursor: pointer;
}
.wrapper__catalog__item>button{
    position: absolute;
    right: 1rem;
}
