.wrapper{
    width: 100%;
    height: 2rem;
    background: lightgreen;
    display: flex;
    flex-direction: row;
}
.wrapper>span{
    margin: 0;
    padding-left: 1rem;
    cursor: pointer;


}
.defItem{
    color: red;
}
.wrapper>span:hover{
    color: darkblue;
}
.selectedItem{
    color: blue;
}