@media (orientation: portrait) {
    .wrapper {
        position: absolute;
        top: 0;
        width: 15rem;
        height: 100%;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        transition: all 0.5s;
        z-index: 1000;
    }

    .wrapper_show {
        right: 0;
    }

    .wrapper_hide {
        right: -15rem;
    }

    .wrapper_showRoutes_BT {
        position: fixed;
        right: 0;
        width: 2rem;
        height: 2rem;
        top: 0;
        color: red;

    }

    .wrapper_routeItem {
        padding: 1rem 0 0 2rem;
        text-align: left;
        width: 100%;
    }

}

@media (orientation: landscape) {

    .wrapper {
        width: 100%;
        background: #aaa;
        color: #222;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;;
    }

    .wrapper_routeItem {

        border: solid 1px grey;
        background: white;
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        padding: 0.2rem 1rem 0.2rem 1rem;
        white-space: nowrap;
        border-radius: 0.3rem;
    }
    .wrapper_routeItem>span{

        height: 1rem;
        width: auto;

    }

    .defItem {
        color: black;
        background: lightgrey;
        box-shadow: 0 0 0 1px teal;
    }

    .hidden_item {
        display: none;
    }

    .wrapper_routeItem:hover {
        color: sandybrown;

    }

    .selectedItem {
        color: #20b2aa;
        background-color: white;
        box-shadow: 0 0 0 3px teal;

    }
}
