@media (orientation: portrait) {
    .wrapper {
        position: absolute;
        top: 0;
        width: 15rem;
        height: 100%;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        transition: all 0.5s;
        z-index: 1000;
    }

    .wrapper_show{
        right: 0;
    }
    .wrapper_hide{
        right: -15rem;
    }

    .wrapper_showRoutes_BT{
        position: fixed;
        right: 0 ;
        width: 2rem;
        height: 2rem;
        top: 0;
        color: red;

    }
    .wrapper_routeItem {
       padding: 1rem 0 0 2rem;
        text-align: left;
        width: 100%;
    }

}

@media (orientation: landscape) {

    .wrapper {
        width: 100%;
        height: 2rem;
        background: #aaa;
        color: #222;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .wrapper_routeItem {
        border: solid 1px red;
        width: 100%;
    }

    .defItem {
        color: black;
        background: lightgrey;
        box-shadow: 0px 0px 0px 1px teal;
    }

    .hidden_item {
        display: none;
    }

    .wrapper_routeItem:hover {
        color: sandybrown;

    }

    .selectedItem {
        color: #20b2aa;
        background-color: white;
        box-shadow: 0px 0px 0px 3px teal;


    }
}
