

.wrapper {
    background: lightgrey;
    height: 95%;
    overflow: scroll;
}

.wrapper_storeAndAssets {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: left;

}
.wrapper_storeAndAssets_on_drag_enter {
  background: green;

}

.wrapper_storeAndAssets_storeName{
    display: flex;
    height: 2rem;
    justify-content: left;
    text-align: left;
    width: 100%;
    border-bottom: solid 1px black;
}
.wrapper_storeAndAssets_assets{
    display: flex;
    flex-direction: column;
     width: 100%;
}
.wrapper_storeAndAssets_assets_show{
    display: flex;

}
.wrapper_storeAndAssets_assets_hide{
    display: none;
}
