.wrapper {
    background: lightgrey;
    overflow: scroll;
    height: 50%;
}

.wrapper_assInStore {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: left;
    border:solid 2px grey;
}
.wrapper_assInStore{
    padding-left: 1rem;
}
.wrapper_assInStore_storeName{

    display: flex;
    justify-content: left;
    padding-left: 1rem;
    text-align: left;
}
